<!--------------- Parallax ---------------->
<section class="home-parallax" style="background: url('{{ 'parallax.jpg' | asset_url }}') no-repeat; height: 600px">
  <div class="container padding-gap-1">
    <div class="row padding-gap-1">
      <div class="col-md-12 padding-gap-1 text-center">
        <h2>Parallax</h2>
        <p>Making better dream for beautiful life</p>
      </div>
    </div>
  </div>
</section>