<h3>Social Share</h3>
<ul class="list-inline">
    <li class="margin-top-10">
        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
    </li>
    <li class="margin-top-10">
        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
    </li>
    <li class="margin-top-10">
        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
    </li>
    <li class="margin-top-10">
        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
    </li>
</ul>