<main class="cart-page">
    <!--------------- Cart Page ---------------->
    <section class="cart-content">
        <!--------------- Cart Content ---------------->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="page-header">My Cart</h2>
                </div>
                <form action="">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="cart-item-list">
                            <h3 class="text-uppercase margin-to-30">Product Lists</h3>
                            <ul class="list-unstyled">
                                <li class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12 margin-to-30">
                                        <a href="#"><img class="img-responsive center-block" src="http://placehold.it/1024x600" alt=""></a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 margin-to-30">
                                        <h3 class="margin-null"><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <h3 class="margin-to-20 margin-bottom-20"><span class="money">$240.00</span></h3>
                                        <label>Quantity</label>
                                        <div class="margin-bottom-10">
                                            <input type="number" size="4" name="updates[]" min="0" value="1" class="form-control">
                                            <a href="#" class="btn btn-default pull-left margin-to-20 margin-right-10"><i class="fa fa-pencil"></i> Update</a>
                                            <a href="#" class="btn btn-default pull-left margin-to-20"><i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12 margin-to-30">
                                        <a href="#"><img class="img-responsive center-block" src="http://placehold.it/1024x600" alt=""></a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 margin-to-30">
                                        <h3 class="margin-null"><a href="#">Lorem Ipsum is simply dummy text</a></h3>
                                        <h3 class="margin-to-20 margin-bottom-20"><span class="money">$240.00</span></h3>
                                        <label>Quantity</label>
                                        <div class="margin-bottom-10">
                                            <input type="number" size="4" name="updates[]" min="0" value="1" class="form-control">
                                            <a href="#" class="btn btn-default pull-left margin-to-20 margin-right-10"><i class="fa fa-pencil"></i> Update</a>
                                            <a href="#" class="btn btn-default pull-left margin-to-20"><i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-to-30">
                        <div class="cart-sub-total">
                            <h2 class="margin-null margin-bottom-20"><span class="money">$510.00</span></h2>
                            <textarea id="note" name="note" rows="7" class="margin-top-10 margin-bottom-10 form-control" placeholder="Special instructions..."></textarea>
                            <input type="submit" id="checkout" class="btn btn-default btn-lg btn-block text-uppercase margin-to-30" name="checkout" value="Proceed To Checkout">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>