<main class="contact-page">
    <section>
        <div class="container">
            <div class="row">
                <!--------------- Aside ---------------->
                <aside class="widgets col-md-3 col-sm-3 col-xs-12 contact-widget widget">
                    <figure class="margin-to-30">
                        <figcaption><h4 class="panel-heading margin-null">Collections</h4></figcaption>
                        <ul class="list-unstyled">
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                        </ul>
                    </figure>
                    <figure class="margin-to-30">
                        <figcaption><h4 class="panel-heading margin-null">HOT Dress</h4></figcaption>
                        <img src="http://placehold.it/600x450" class="img-responsive center-block" />
                    </figure>
                </aside>
                <!--------------- Content Content ---------------->
                <div class="col-md-9 col-sm-9 col-xs-12 content-content">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12 margin-to-30">
                            <h1 class="page-header margin-null margin-bottom-20">Contact Us</h1>
                            <div class="margin-bottom-20">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                            </div>
                            <!--------------- Contact Us Form ---------------->
                            <form accept-charset="UTF-8" action="#" class="contact-form" method="post">
                                <input name="form_type" type="hidden" value="contact">
                                <input name="utf8" type="hidden" value="✓">
                                <label>Your Name</label>
                                <input type="text" class="form-control margin-bottom-20" name="contact[name]" placeholder="Your Name">
                                <label>Email</label>
                                <input type="email" class="form-control margin-bottom-20" name="contact[email]" placeholder="your@email.com">
                                <label>Phone Number</label>
                                <input type="telephone" class="form-control margin-bottom-20" name="contact[phone]" placeholder="000-000-0000">
                                <label>Message</label>
                                <textarea rows="10" name="contact[body]" class="form-control margin-bottom-20" placeholder="Your message"></textarea>
                                <button type="submit" class="btn btn-default btn-lg" value="Send">Submit Message</button>
                            </form>
                        </div>
                        <!--------------- Google MAP ---------------->
                        <div class="col-md-9 col-sm-9 col-xs-12 padding-gap-1">
                            <div id="googleMap" style="height: 450px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>