<main class="login-page">
    <!--------------- Login ---------------->
    <section class="login-content">
        <!--------------- Login Form ---------------->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="page-header">Login</h2>
                </div>
                <div class="col-md-6 margin-to-30">
                    <form method="post" action="/account/login" class="login-form" id="customer_login" accept-charset="UTF-8">
                        <input type="hidden" value="customer_login" name="form_type">
                        <input type="hidden" name="utf8" value="✓">
                        <label>Email</label>
                        <input type="email" value="" name="customer[email]" class="form-control margin-bottom-20" id="customer_email">
                        <label>Password</label>
                        <input type="password" value="" name="customer[password]" class="form-control margin-bottom-20" id="customer_password" size="16">
                        <button type="submit" class="btn btn-default pull-left text-uppercase">Log In</button>
                        <a href="/account/login#revover" class="pull-right"><h5>Forgot your password?</h5></a>
                    </form>
                </div>
                <div class="col-md-6 margin-to-30 text-center">
                    <h1 class="margin-null margin-bottom-20 text-uppercase">want to Customer?</h1>
                    <a href="/account/register" class="btn btn-primary btn-lg text-uppercase">click me</a>
                </div>
            </div>
        </div>
    </section>
</main>