<main class="product-page">
    <section>
        <div class="container">
            <div class="row">
                <!--------------- Aside ---------------->
                <aside class="widgets col-md-3 col-sm-3 col-xs-12 product-widget widget">
                    <figure class="margin-to-30">
                        <figcaption><h4 class="panel-heading margin-null">Collections</h4></figcaption>
                        <ul class="list-unstyled">
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                            <li><a href="#" class="collections-category">Cool Dresses</a></li>
                        </ul>
                    </figure>
                    <figure class="margin-to-30">
                        <figcaption><h4 class="panel-heading margin-null">HOT Dress</h4></figcaption>
                        <img src="http://placehold.it/600x450" class="img-responsive center-block" />
                    </figure>
                </aside>
                <!--------------- Product Content ---------------->
                <div class="col-md-9 col-sm-9 col-xs-12 collections-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 margin-to-30 text-center">
                            <div class="product-image">
                                <img src="http://placehold.it/600x450" class="img-responsive center-block" align="" />
                            </div>
                            <div class="product-thumb">
                                <ul class="list-inline">
                                    <li><img src="http://placehold.it/200x200" class="img-responsive center-block margin-to-10" align="" /></li>
                                    <li><img src="http://placehold.it/200x200" class="img-responsive center-block margin-to-10" align="" /></li>
                                    <li><img src="http://placehold.it/200x200" class="img-responsive center-block margin-to-10" align="" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 margin-to-30">
                            <h2 class="margin-null margin-bottom-20">Lorem Ipsum is simply dummy text</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            <h3 class="margin-bottom-20">
                                <span class="money">$350.00</span>
                            </h3>
                            <a href="#" class="btn btn-default btn-lg">Add To Cart</a>
                            <div class="social-share">
                                <h3>Social Share</h3>
                                <ul class="list-inline">
                                    <li class="margin-top-10">
                                        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
                                    </li>
                                    <li class="margin-top-10">
                                        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
                                    </li>
                                    <li class="margin-top-10">
                                        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
                                    </li>
                                    <li class="margin-top-10">
                                        <a href="" target="_blank"><i class="fa fa-linkedin"></i> Linkdin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------- Related Product ---------------->
                <div class="related-product text-center">
                    <div class="col-md-12">
                        <h2 class="page-header">Related Product</h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 margin-to-30 text-center">
                        <div class="product-wrap">
                            <div class="product-image">
                                <a href="#">
                                    <div class="product-overlay"></div>
                                    <img src="http://placehold.it/1024x600" class="img-responsive center-block" align="" />
                                </a>
                            </div>
                            <div class="product-new">New</div>
                            <div class="product-sold">Sold</div>
                            <div class="product-hover">
                                <span class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </span>
                            </div>
                            <div class="product-title-price">
                                <h4 class="margin-to-20"><a href="#">Demo Product</a></h4>
                                <p class="overflow">
                                    <del class="pull-left"><span class="money">$500.00</span></del>
                                    <span class="money pull-right">$480.00</span>
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="#" class="btn btn-default btn-block text-uppercase">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 margin-to-30 text-center">
                        <div class="product-wrap">
                            <div class="product-image">
                                <a href="#">
                                    <div class="product-overlay"></div>
                                    <img src="http://placehold.it/1024x600" class="img-responsive center-block" align="" />
                                </a>
                            </div>
                            <div class="product-new">New</div>
                            <div class="product-sold">Sold</div>
                            <div class="product-hover">
                                <span class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </span>
                            </div>
                            <div class="product-title-price">
                                <h4 class="margin-to-20"><a href="#">Demo Product</a></h4>
                                <p class="overflow">
                                    <del class="pull-left"><span class="money">$500.00</span></del>
                                    <span class="money pull-right">$480.00</span>
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="#" class="btn btn-default btn-block text-uppercase">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 margin-to-30 text-center">
                        <div class="product-wrap">
                            <div class="product-image">
                                <a href="#">
                                    <div class="product-overlay"></div>
                                    <img src="http://placehold.it/1024x600" class="img-responsive center-block" align="" />
                                </a>
                            </div>
                            <div class="product-new">New</div>
                            <div class="product-sold">Sold</div>
                            <div class="product-hover">
                                <span class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </span>
                            </div>
                            <div class="product-title-price">
                                <h4 class="margin-to-20"><a href="#">Demo Product</a></h4>
                                <p class="overflow">
                                    <del class="pull-left"><span class="money">$500.00</span></del>
                                    <span class="money pull-right">$480.00</span>
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="#" class="btn btn-default btn-block text-uppercase">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>